---
title: Team
bodyClass: homepage
---
extends shared/_layout
block content
  
  // dummy contents & instructions
  // REMOVE COMPLEATLY, it have nothing to do with project code - examples only


  // BEGIN SECTION :: firstscreen
  section(data-aos='fade-up')
    .firstscreen.firstscreen--team
      .container
        h1 Our team <br>is our core asset
  // END SECTION :: firstscreen

  // BEGIN SECTION :: team-info
  section
    .team-info
      .container
        p To turn our ideas into finished projects we need people. We invite talented developers, engineers, and business professionals to work alongside freight transportation, logistics, and business experts. We offer full freedom to bring your ideas to work and watch them to become real solutions.
        p Carggo’s core values are reliability, transparency, and convenience. We are committed to applying these values to both our business practices and at a workplace. When you join Carggo you join the young motivated team united by a common goal.
        p For office perks please refer to job openings below.
  // END SECTION :: team-info

  // BEGIN SECTION :: categories
  section(data-aos='fade-up')
    .categories
      .container
        .categories__grid
          .categories__item
            select
              option All categories
              option Engineering
              option IT
              option Sales
              option Operations
              option Administration
          .categories__item
            select
              option All locations
              option Vilnius
              option Naperville
              option Sales
        img(src="img/categories.jpg", alt="")
  // END SECTION :: categories

  // BEGIN SECTION :: form-block
  section(data-aos='fade-up')
    .form-block.form-block--team
      .container
        .form-block__title If you didn’t find the desired position in the list, fill out the form and hit the Apply now button. We will contact you once the position you want becomes available
        form.form-block__form.js-form(action="#")
          .form-block__grid
            .form-block__item
              label(for="t1") Name
              input#t1(type="text" name="first_name" required)
            .form-block__item
              label(for="t2") Email
              input#t2(type="text" name="email" required)
            .form-block__item
              label(for="t3") Phone
              input#t3(type="tel" name="phone" required)
          .form-block__textarea
            label(for="t4") Message
            textarea#t4
          input.form-block__btn(type="submit" value="Apply now")
  // END SECTION :: form-block